Source: xgraph
Section: math
Priority: optional
Maintainer: Barak Pearlmutter <bap@cs.unm.edu>
Standards-Version: 3.0.1
Build-Depends: debhelper, xlibs-dev

Package: xgraph
Architecture: any
Depends: ${shlibs:Depends}
Description: Plotting program, reads stdin, allows interactive zooming
 Accepts data files or stdin in a form similar to the unix program
 graph and displays line graphs, scatter plots, or bar charts on an
 X11 display.  Fully annotated with title, axis numbering and labels,
 and legend.  Zooming with the mouse is supported.  Can generate
 hardcopy output to Postscript printers and HPGL plotters.  Output can
 be directly pasted into idraw (drawtool) for further annotation.
 Particularly useful in shell scripts.
