#!/usr/bin/make -f

%:
	dh $@ --parallel --with autoreconf

override_dh_auto_install:
	dh_auto_install
	-rm    --verbose debian/xgraph/usr/share/man/manm/xgraph.man
	-rmdir --verbose debian/xgraph/usr/share/man/manm
