#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

execute_after_dh_auto_install:
	-rm    --verbose debian/xgraph/usr/share/man/manm/xgraph.man
	-rmdir --verbose debian/xgraph/usr/share/man/manm
